@model Goose.Models.Song_Models.SongDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model=>model.Title)</h2>

<div>
    <h4>Statistics:</h4>
    <hr />
    <dl class="dl-horizontal"> 
        <dt>
            @Html.DisplayNameFor(model => model.OriginalArtist):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalArtist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstTimePlayed):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTimePlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTimePlayed):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTimePlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimesPlayed):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentageOfShows):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentageOfShows)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("admin"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.SongId  }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
