@model IEnumerable<Goose.Models.Song_Models.SongsBeforeAndAfter>

@{
    ViewBag.Title = "GetOccurances";
}

<h2>GetOccurances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongAfter)
        </th>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongBefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SongAfter)
        </td>
    </tr>
        }
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
