@model IEnumerable<Goose.Models.Song_Models.SongListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p> </p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("SongId", "Index", new {sortOrder = ViewBag.IdSortParm})
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.OriginalArtist)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SongId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.OriginalArtist)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.SongId  }) |
            @Html.ActionLink("Details", "Details", new { id = item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SongId }) |
            @Html.ActionLink("Occurances", "Occurances", new { id = item.SongId })
        </td>
    </tr>
}

</table>
