@model IEnumerable<Goose.Models.Song_Models.SongListItem>

@{
    ViewBag.Title = "Songs - ";
}

<h2>Index</h2>


@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table table-responsive table-striped">
    <tr>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.ActionLink("SongId", "Index", new { sortOrder = ViewBag.IdSortParm }, new { @id = "songsort" })
            </th>
        }
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm }, new { @id = "songsort" })
        </th>        
        <th>
            @Html.ActionLink("Original Artist", "Index", new { sortOrder = ViewBag.OrigSortParm }, new { @id = "songsort" })
        </th>
        <th>
            @Html.ActionLink("Total Time Played", "Index", new { sortOrder = ViewBag.CountSortParm }, new { @id = "songsort" })
        </th>
        <th>
            @Html.ActionLink("First Time Played", "Index", new { sortOrder = ViewBag.FTPSortParm }, new { @id = "songsort" })
        </th>
        <th>
            @Html.ActionLink("Last Time Played", "Index", new { sortOrder = ViewBag.LTPSortParm }, new { @id = "songsort" })
        </th>   
        <th>
            @Html.ActionLink("% of Concerts", "Index", new { sortOrder = ViewBag.AvgSortParm }, new { @id = "songsort" })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    @if (User.IsInRole("admin"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.SongId)
        </td>
    }

    <td id="songcolor">
        @Html.DisplayFor(modelItem => item.Title)
    </td>    
    @if (item.OriginalArtist != "Goose")
    {

    <td>
        @Html.DisplayFor(modelItem => item.OriginalArtist)
    </td>
    }
    else
    {
        <td>@Html.DisplayFor(modelItem => item.Artist)</td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.TimesPlayed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstTimePlayed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastTimePlayed)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AvgTimesPlayed)
    </td>
    <td>

        @if (User.IsInRole("admin"))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongId })
            </p>
        }
    </td>
</tr>
}

</table>
